@charset "utf-8";

/* 1. header의 background 설정 */
/* cities 글자 꾸미기  */
.header h3 {
    background-image: url("../images/city.jpg");
    background-position: center;
    background-size: cover;

    /* 글자 색 : #f2f2f2 */
    color: #f2f2f2;
    /* 글자 크기 5vw*/
    font-size: 5vw;
    /* 세로 중앙 정렬 */
    padding: 100px 0;
    /* 가로 중앙정렬 */
    text-align: center;
    /* 기본 외부 여백 0 */
    margin: 0;
}

/* 2. li 가로배치. 네비게이션 메뉴  */
.nav {
    background-color: #282A35;

}

.nav input, .nav label{
    display: none;
}
.nav ul {
    width: 80%;
    padding-left: 0;
    margin: 0 auto;
    /* overflow:hidden; */
    display: flex;
}

.nav ul li {
    /* float:left; */
    list-style-type: none;
}

.nav li a {
    /* a태그의 padding 속성을 주기위해 display:block */
    display: block;
    text-decoration: none;
    color: #f2f2f2;
    padding: 10px 20px 10px;
    text-align: center;
}

.nav li a:hover {
    text-decoration: underline;
}

/* 3. contents의 li 가로배치 */
.contents {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.article2 ul {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.article2 ul li {
    list-style-type: none;
    position: relative;
    width:24%;
}

.article2 li>img {
    width: 100%;
    height: auto;
}


/*4. h3의 위치 지정 */
.article2 ul li>h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding:2vh 0;
    background-color: rgba(255, 250, 250, 0.822);

}

/* 5. footer 스타일 주기 */
.footer {
    height: 50px;
    background-color: #282A35;
    text-align: center;
    color: #FFF;
}

@media screen and (max-width:1000px){
    .article2 ul{
        flex-wrap:wrap;
    }
    .article2 ul li {
        width:49.5%;
    }
}

@media screen and (max-width: 500px){
    .article2 ul{
        flex-wrap:wrap;
    }
    .article2 ul li{
        width:100%;
    }
    .header{
        position:relative;
    }
    .header h3{
        background-image: none;
        background-color: #282A35;
        padding:10px 0;
    }

    .nav ul{
        flex-direction: column;
        display: none;
    }

    .nav label{
        display: block;
        color:#fff;
        position:absolute;
        top:15px;
        left:10px;
    }

    .nav #ckbox:checked ~ul{
        display: block;
    }
}